/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #1B435D;
	font-family: 'Oswald', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
	font-family:Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* micro clear fix */
.grouping:before,
.grouping:after {
	content:" ";
	display:table;
}

.grouping:after {
	clear:both;
}

img, iframe, video, object {
	max-width: 100%;
}


/***********
CONTENT
***********/
body {
	background: url('https://cdn.pixabay.com/photo/2012/10/26/01/38/cold-front-63037_1280.jpg') no-repeat center center fixed;
	background-size: cover;
}

.content {
	width: 66%;
	margin: 15% auto;
	text-align: center;
	background-color: rgba(187, 191, 192, 0.6);
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	border-radius: 6px;
	box-shadow: 1px 1px 10px 1px rgba(111, 114, 114, 0.5);
	padding: 2%;
}

.content > h1 {
	font-size: 5vw;
}

#local {
	font-size: 3vw;
}

#zipInput {
	font-size: 2.5vw;
	font-family: "Oswald";
	color: black;
	padding: 0.5%;
	border: 1px solid #1B435D;
}

.submitButton {
	font-family: "Oswald";
	font-size: 2.5vw;
	border: 1px solid #1B435D;
	color: #1B435D;
}

.current {
	margin: 5% auto;
}

#skies {
	text-transform: capitalize;
}

#zipForm {
	margin: 10% auto;
	font-size: 3vw;
	line-height: 1.5;
}

#temp:hover {
	cursor: pointer;
}

#temp {
	font-size: 5vw;
	color: rgb(0, 121, 191);
	font-weight: bold;
	letter-spacing: 2px;
}

.error {
	color: red;
	font-weight: bold;
	font-size: 2vw;
}