/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, 
h1, h2, p, a, img, 
ol, ul, li, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #1B435D;
	line-height: 1.2;
	font-family: 'Oswald', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

/* micro clear fix */
.grouping:before,
.grouping:after {
	content:" ";
	display:table;
}

.grouping:after {
	clear:both;
}

img {
	max-width: 100%;
	height: auto;
}


/***********
GENERAL
***********/
body {
	background: url('https://cdn.pixabay.com/photo/2012/10/26/01/38/cold-front-63037_1280.jpg') no-repeat center center fixed;
	background-size: cover;
}

.content {
	width: 66%;
	margin: 15% auto 0 auto;
	text-align: center;
	background-color: rgba(187, 191, 192, 0.6);
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	border-radius: 6px;
	box-shadow: 1px 1px 10px 1px rgba(111, 114, 114, 0.5);
	padding: 2% 2% 0 2%;
}

.head > h1 {
}

.error {
	color: blue;
	font-weight: 700;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px rgba(100, 100, 100, 0.8);
}


/***********
WEATHER DATA
***********/

#local {
}

.current {
	margin: 5% auto;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.current {
	flex-basis: 50%;
}

#temp:hover {
	cursor: pointer;
}

#temp {
	color: rgb(0, 121, 191);
	font-weight: bold;
	letter-spacing: 2px;
}

#skies {
	text-transform: capitalize;
}

.extra {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-basis: 50%;
	border-left: 2px solid #1B435D;
}

.label {
	font-weight: 700;
}


/***********
FORM
***********/

#zipInput {
	font-family: "Oswald";
	color: black;
	padding: 0.5%;
	border: 1px solid #1B435D;
}

.submitButton {
	font-family: "Oswald";
	border: 1px solid #1B435D;
	color: #1B435D;
}

#zipForm {
	margin: 10% auto 2% auto;
	line-height: 1.5;
}